<div class="quote-box">
  <div class="quote-of">
    QUOTES FROM
  </div>

  <div class="the-day">
    THE VOID
  </div>
<br><br><br><br>
  <div class="quote">

  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var quotes = [
"1) You can join us and battle space dragons and survive the universe for as long as you can....or stay on this planet, and pass into oblivion with it, like planets always do. <div class='quote-author'>Hum'rego Yath</div>",
"2) I'm not surprised that old gods refuse to die, they always do, and as long as they live in the minds of the living, the contra-cults will have influence. <div class='quote-author'>Draga Hekta</div>",
"3) We have conquered hegemonies vast and terrible. The Children of Knowledge are exceptionally vast and terrible. <div class='quote-author'>Ar'kalgo'ki</div>",
"4) Maybe you're not insane just evolved"
];

$('.quote').html(quotes[Math.floor((Math.random() * 3) + 0)].slice(3));
  })
</script>
